.background {
  viewport-fill: #1d1bb5;
}

#myLabel {
  font-size: 80;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 50%+40;
  fill: white;
}

#heartrate {
  font-size: 20;
  text-length: 32;
  font-family: System-Bold;
  text-anchor: middle;
  x: 20%;
  y: 45%;
  fill: white;
}

#steps {
  font-size: 20;
  text-length: 32;
  font-family: System-Bold;
  text-anchor: middle;
  x: 20%;
  y: 75%;
  fill: white;
}

#date {
  font-size: 30;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 50%-40;
  fill: white;
}

#image {
  x: 50%-50;
  y: 50%-70;
  height: 140;
  width: 100;
  z-index: -1;
}

#image1 {
  x: 0;
  y: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
}