.background {
  viewport-fill: #1d1bb5;
}

#clockHour {
  font-size: 80;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: end;
  x: 95%;
  y: 30%;
  fill: #44c841;
}

#clockMinute {
  font-size: 80;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: end;
  x: 95%;
  y: 55%;
  fill: #44c841;
}

#heartrate {
  font-size: 20;
  text-length: 32;
  font-family: System-Bold;
  x: 19%;
  y: 52%;
  fill: #44c841;
}

#heartrateicon {
  x: 19%-23;
  y: 52%-15;
  height: 17;
  width: 20;
  z-index: 1;
}

#steps {
  font-size: 20;
  text-length: 32;
  font-family: System-Bold;
  x: 19%;
  y: 82%;
  fill: #44c841;
}

#stepsicon {
  x: 19%-23;
  y: 82%-15;
  height: 17;
  width: 17;
  z-index: 1;
}

#battery {
  font-size: 20;
  text-length: 32;
  font-family: System-Bold;
  x: 68%;
  y: 82%;
  fill: #44c841;
}

#batteryicon {
  x: 68%-20;
  y: 82%-15;
  height: 17;
  width: 13;
  z-index: 1;
}

#date {
  font-size: 20;
  font-family: System-Bold;
  text-length: 32;
  x: 3%;
  y: 97%;
  fill: #44c841;
}

#image {
  x: 50%-50;
  y: 50%-70;
  height: 140;
  width: 100;
  z-index: -1;
}

#image1 {
  x: 0;
  y: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
}

