.background {
  viewport-fill: black;
}

#bash1 {
  font-size: 20;
  text-length: 32;
  font-family: System-Bold;
  color: white;
}

#bash2 {
  font-size: 20;
  text-length: 32;
  font-family: System-Bold;
  color: white;
}

#bash3 {
  font-size: 20;
  text-length: 32;
  font-family: System-Bold;
  color: white;
}