.background {
  viewport-fill: #1d1bb5;
}

#hours {
  font-size: 50;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 30%;
  fill: white;
}

#minutes {
  font-size: 50;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 55%;
  fill: white;
}